### Gradle ###
.gradle
build/
bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
log/
target/

### Package Files ###
*.jar
*.war
*.ear

### Mac ###
.DS_Store

### STS and Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.settings/
tmp/
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
nbactions.xml
nb-configuration.xml

### VS Code ###
.vscode/
.code-workspace
